<!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-md-12 text-center vision"><h3>"implementacion, no entiendo la letraaa."</h3></div>
            <div class="col-lg-12">
                <h1 class="page-header center">Colegas
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="container">
          <div class="borderless">
            <div class="row">
              <ul class="list-group">
                <span style="cursor:pointer"><h3>
                  <li class="list-group-item borderless"  data-toggle="collapse" data-target="#colega1">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Endoscopia</li></h3>
                </span>
                <div id="colega1" class="collapse">
                  <li class="list-group-item borderless">
                    <div class="row">
                      <div class="col-md-2">
                        <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                      </div>
                      <div class="col-md-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                    </div>
                  </li>
                </div>
                <span style="cursor:pointer"><h3>
                  <li class="list-group-item borderless"  data-toggle="collapse" data-target="#colega2">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i> Cirugia</li></span></h3>
                <div id="colega2" class="collapse">
                  <li class="list-group-item borderless">
                    <div class="row">
                      <div class="col-md-2">
                        <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                      </div>
                      <div class="col-md-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                    </div>
                  </li>
                </div>
                <span style="cursor:pointer"><h3>
                  <li class="list-group-item borderless"  data-toggle="collapse" data-target="#colega3">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i> Otra wea</li></span></h3>
                <div id="colega3" class="collapse">
                  <li class="list-group-item borderless">
                    <div class="row">
                      <div class="col-md-2">
                        <img class="img-responsive" src="http://placehold.it/200x200" alt="">
                      </div>
                      <div class="col-md-9">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      </div>
                    </div>
                  </li>
                </div>

              </ul>
            </div>
          </div>
      </div>

        <!-- /.row -->
    </div>
<!-- /.row -->
