/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: 'Roboto', sans-serif;
 }

#footer{
  position:absolute, static;
   bottom:0;
   width:100%;
   margin: 10 auto !important;
   height:60px;   /* Height of the footer */
   font-family: 'Roboto', sans-serif;
}

a:hover {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

li.borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

ul.borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

p.copyright {
    margin: 15px 0 0;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #069d0b;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #069d0b;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
  background-color: transparent;
  color: #025a06;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand {
  background-color: transparent;
  color: #025a06;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}

.vision {
  font-family: 'Shadows Into Light', cursive;
}


#color a:hover{
  color: #fffff !important;
}

#color a{
  color: #009a00;
}
