<br>
<br>
<br>
<br>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <br>
      <span class="text-muted">
        <p>
          &nbsp;<a href="/">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i> Dr. Nicolas Troncoso
          </a>
        </p>
      </span>
      <span class="text-muted">
        <p>
          &nbsp;&nbsp;<a href="mailto:doctor@nicolastroncoso.cl" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> doctor@nicolastroncoso.cl</a>
        </p>
      </span>
    </div>
</nav>
